<main class="main">
  <div class="book__wrapper">
    <div class="book__body">
    <%# 本の投稿者とログインしているユーザーが同じであれば以下を表示する %>
    <% if user_signed_in? && current_user.id #== @contents_id%>
      <div class="book__manage">
        <%= link_to "編集する", edit_book_content_path(@content.id), class: :book__btn %>
      </div>
    <% end %>
    <%# 本の投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <div class="contents__detail">
        <div class="book__inner">
          <p class="detail__message">題目</p>
            <div class="content__inner">
              <p class="detail__message">
                <%= @content.chapter %>
              </p>
            </div>
        </div>
      </div>
      <div class="contents__detail">
        <div class="book__inner">
          <p class="detail__message">書き抜き</p>
            <div class="content__inner">
              <p class="detail__message">
                <%= @content.write_down %>
              </p>
            </div>
        </div>
      </div>
      <div class="contents__detail">
        <div class="book__inner">
          <p class="detail__message">要約</p>
            <div class="content__inner">
              <p class="detail__message">
                <%= @content.wrap_up %>
              </p>
            </div>
          </div>
        </div>
      <div class="contents__detail">
        <div class="book__inner">
          <p class="detail__message">コメント・アクションプラン</p>
          <div class="content__inner">
            <p class="detail__message">
              <%= @content.action_plan %>
            </p>
          </div>
        </div>
      </div>
    <%# 本の投稿者とログインしているユーザーが同じであれば以下を表示する %>
    <% if user_signed_in? && current_user.id #== @contents_id%>
      <div class="book__manage">
        <%= link_to "削除する", book_content_path(@content.id), method: :delete, class: :book__btn %>
      </div>
    <% end %>
    <%# 本の投稿者とログインしているユーザーが同じであれば以下を表示する %>
      </div>
    </div>
  </div>
</main>