<main class="main">
  <div class="inner">
    <div class="book__wrapper">
      <div class="book__body">
        <div class="contents__detail">
          <p class="detail__message">書き抜き</p>
          <p class="detail__message">
            <%= @content.write_down %>
          </p>
        </div>
        <div class="contents__detail">
          <p class="detail__message">要約</p>
          <p class="detail__message">
            <%= @content.wrap_up %>
          </p>
        </div>
        <div class="contents__detail">
          <p class="detail__message">アクションプラン</p>
          <p class="detail__message">
            <%= @content.action_plan %>
          </p>
        </div>
      <%# 本の投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @content.id%>
        <div class="book__manage">
          <%= link_to "編集する", edit_book_content_path(@content.id), class: :book__btn %>
          <%= link_to "削除する", book_content_path(@content.id), method: :delete, class: :book__btn %>
        </div>
      <% end %>
    </div>
  </div>
</main>