<%= form_with model: @book, local: true do |f| %>
  <div class="field">
    <%= f.label :title, "本のタイトル" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :writer, "本の著者" %><br />
    <%= f.text_field :writer %>
  </div>

  <div class="field">
    <%= f.label :learn, "本から学びたいこと" %><br />
    <%= f.text_area :learn, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :genre, "本の種類" %><br />
    <%= f.text_area :genre, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :image, "本の画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>