<main class="main">
  <div class="inner">
    <div class="book__wrapper">
      <p class="book__hedding">
        <%= @book.title%>
      </p>
      <div class="book__body">
        <div class="book__detail">
          <p class="detail__message">著者</p>
            <%= @book.writer %>
          </p>
        </div>
      </div>
      <%# 本の投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @book.user_id%>
        <div class="book__manage">
          <%= link_to "編集する", edit_book_path(@book.id), class: :book__btn %>
          <%= link_to "削除する", book_path(@book.id), method: :delete, class: :book__btn %>
        </div>
      <% end %>
      <%# // 本の投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="book__image">
        <%= image_tag @book.image %>
        <p class="detail__message">本から学びたいこと</p>
          <%= @book.learn %>
        </p>
        <div class="book__manage">
          <%= link_to "内容", book_contents_path(@book.id), class: :book__btn %>
        </div>
      </div>
      <%= link_to "by#{@book.user.nickname} ", user_path(@book.user.id), class: :book__user %>
    </div>
  </div>
</main>